<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Welcome Jome</title>
</head>

<body>
<header>
    <h1>Everything is good, all of the time</h1>
    <nav class="main_nav">
        <ul>
            <li>Jome</li>
            <li>Projects</li>
            <li>Contact</li>
            <li>TMI blog</li>
        </ul>
    </nav>
</header>
<section id="welcome">

    <p>This is a test of my html5 and CSS3 skills</p>
    <p>Throughout this site I'll also be incorporating JavaScript and JQuery</p>
    <p>Eventually, this will be rendered via PHP or Python (Django) or even Node.js to further develop my skills</p>
    <p>And it's all going to be super responsive!  Yay!</p>
    <aside>Welcome to paradise</aside>
    <span contenteditable="true">dude, what's up?</span>
</section>
<section id="purpose">
    <h1>Wait, why?</h1>
    <p>So I'll be using this site for the following reasons:
    <ul><li>To learn a Python serverside framework, Django for starters</li>
    <li>To advance my front-end skills</li>
    <li>As a documentation and educational resource for my Data Sciences journey</li></ul></p>
    <p>Inspired by this guy</p>
</section>
<section id="blog">

    <h3>Day one of learning/teaching Web Development</h3>

    <p>When I began my Comp Sci degree, I was initially hoping to evade the realm of Web Design.  I wasn't that keen on making things aestitically pleasing, but instead wanted to focus on making stuff work.  Alas, with the rise in popularity of smartphones, interacting with the largest population necessitates at least some proficiency with web development.
        The web-dev courses I took at <a href=" University of the People">UPeople</a> demonstrated to me that web development has changed significantly from my first foray into it nearly 20 years ago.  It's not as clunky, limited, fragile, and totally annoying as it was; actually it's pretty fun.
        This blog will serve two purposes: As a documentation process of my web development... uhh... development; and secondly, as an introduction to web-development for anyone reading.</p>
    <p>First of all, the concepts behind web development are incredibly simple.  Anyone can do it, no problem.  You are definitely capable of it, and if you haven't done any programming at all, this is a great place to start!  You might even like it...
        The architecture of a web page today consists of three main parts:<p><ul><li>an HTML file, which describes the content of a web page</li><li>a CSS stylesheet, that describes how the content should appear in your browser</li><li>and some JavaScript or Jquery, either embedded in the HTML file or in it's own script.js file</li></ul></p>
    <i>The main point to take away from this architecture is the separation of content and display.</i>  The HTML {<text class="anagram">Hyper Text Markup Language</text>} file describes the structure and content of a web page; it says "this content is of this type, and here's how it all relates".  This may sound abstract at first, and it is, but it's also super approachable.
    The <emph>type</emph> is described by tags that enclose the content:</p>

    <section class="comparator">
        <code>
            <p>This is a paragraph, which will start and end with a 'new line'</p>
            <p>Here's another one, where <b>these words</b> are really important</p>
            <a href="http://www.cbc.ca">How about a link to the CBC?</a>
            <p>What about two nested paragraphs?!?!<p>Let's find out!</p></p>

        </code>

    </section>






</section>
<footer>
    <h5>like me in real life!</h5>
</footer>
</body>
</html>

